@import components/mixins
@import components/var

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 0.7px
    scroll-behavior: smooth
    +media(1250)
        font-size: 1px
    +media(1600)
        font-size: 1.2px

body
    font-size: 14rem
    font-weight: 400
    font-family: Gotham

ul
    list-style: none

a
    transition: all .5s ease
    text-decoration: none

h2
    padding-bottom: 40rem
    text-align: center
    font-size: 30rem
    font-weight: 700
    text-transform: uppercase

input,
textarea
    appearance: none
    width: 100%
    outline: none

textarea
    min-height: 100px
    max-height: 150px
    resize: vertical

select
    width: 20%
    border: none
    border-bottom: 1px solid $black
    outline: none

input[type='text'],
input[type='tel'],
textarea
    padding: 17rem 10rem
    border-radius: 3px
    border: 1px solid $black

.wrapper
    width: 95%
    margin: 0 auto
    padding: 0 15rem
    +media(768)
        width: 90%

.pos-r
    position: relative

.flex
    display: flex
    gap: 20rem

.flex-between
    display: flex
    gap: 20rem
    justify-content: space-between

.grid
    display: grid
    gap: 20rem

.items-center
    align-items: center

img
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center

.black_bg
    color: $white
    background-color: $black

.cta
    display: block
    width: 90%
    padding: 19rem 60rem
    border-radius: 3px
    text-align: center
    font-size: 18px
    font-weight: 500
    line-height: normal
    text-transform: uppercase
    transition: all .5 ease
    &:hover
        transform: scale(1.05)
    +media(768)
        width: 45%

.order_container
    display: none

@import components/header
@import components/card
@import components/cart

.main_section
    margin-bottom: 13px

.main_container
    flex-direction: column
    padding: 77rem 0 66rem
    text-align: center
    h1
        font-size: 42rem
        font-weight: 700
        line-height: normal
        text-transform: uppercase
    p
        padding: 20rem 0
        font-size: 24px
        font-weight: 400

.move-text
    margin-bottom: 13rem
    padding: 30rem 0
    overflow: hidden
    background-color: $gray
    
.content-slider 
    padding-bottom: 0
    column-gap: 0
    h3 
        padding: 0 15px
        color: $black
        white-space: nowrap
        font-weight: 300
        &::after
            content: ""
            position: absolute
            top: 50%
            right: 0px
            width: 1px
            height: 17px
            background-color: $black
            transform: translateY(-50%)

.cta_main
    flex-wrap: wrap
    justify-content: center
    +media(768)
        width: 50%
        margin: 0 auto

.catalog_cta
    color: $black
    background-color: $white
    &:hover
        background-color: $gray

.black_cta
    color: $white
    border: 1px solid $white
    &:hover
        color: $black
        background-color: $white

.grid_main_container
    grid-template-columns: 1.5fr 1fr
    grid-auto-flow: row dense
    picture //video
        &:nth-child(3)
            order: 1
        +media(768)
            &:nth-child(3)
                order: 0
    +media(768)
        grid-template-columns: 1.5fr 1fr 1fr 1.5fr
    picture
        display: inline-block
        height: 100%
        max-height: 550px
        img
            border-radius: 5px 5px 0 0

.slider-images-1,
.slider-images-2
    position: relative
    top: 0
    display: flex
    width: 100%
    height: 100%
    img
        position: absolute
        opacity: 0
        border-radius: 5px 5px 0 0
        transition: all .5s ease
    .slider-img
        opacity: 1
    img.active
        opacity: 1

.about_container
    h2
        +media(768)
            text-align: left
    .flex
        flex-wrap: wrap
        justify-content: center
        +media(768)
            justify-content: flex-start
    p
        padding-bottom: 20rem
        font-size: 18rem
        &:nth-child(3)
            padding-bottom: 36rem

.about-pic
    padding-top: 50rem
    img
        border-radius: 3px
.col-2
    +media(768)
        grid-template-columns: 1fr 2fr

.col-3
    +media(538)
        grid-template-columns: repeat(3, 1fr)

.col_3_adv
    +media(768)
        grid-template-columns: 1fr 2fr 1fr

.col-4
    grid-template-columns: repeat(2, 1fr)
    +media(768)
        grid-template-columns: repeat(4, 1fr)

.advantages_container
    > div
        height: 100%
        min-height: 40vw

.bg1
    background: $white url(../img/sec-5-1.jpg) no-repeat center/cover

.bg2
    position: relative
    flex-direction: column
    justify-content: flex-end
    background: $white url(../img/sec-5-2.jpg) no-repeat center/cover
    +media(768)
        padding-bottom: 100rem
    .flex,
    h2
        position: relative
        padding-bottom: 20rem
        z-index: 1
    .flex 
        justify-content: center
        flex-wrap: wrap
        p
            width: 200rem
            text-align: center
            font-weight: 500
.dark-mask
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.90) 100%)

.bg3
    background: $white url(../img/sec-5-3.jpg) no-repeat center/cover

.transparent_cta
    border: 1px solid $white
    border-radius: 3px
    background-color: transparent 
    padding: 20rem 0

.container
    padding: 70rem 0

.catalog
    .col-4
        grid-template-columns: repeat(2, 1fr)
        +media(768)
            grid-template-columns: repeat(3, 1fr)
        +media(1150)
            grid-template-columns: repeat(4, 1fr)
.review
    border-radius: 5px
    border: 1px solid $black
    overflow: hidden

.submit-btn
    padding: 8px 20px
    color: $white
    border-radius: 3px
    border: 1px solid $black
    background: $black
    transition: all .5s ease
    cursor: pointer
    &:hover
        color: $black
        background-color: $white

.tac_form_btn
    padding-top: 20px
    text-align: center

.start_buisnes
    text-align: center
    p
        padding-bottom: 27px
    +media(1024)
        max-width: 60%
    .transparent_cta
        padding: 35rem 0
    

.error-name,
.error-tel
    position: absolute
    bottom: -15px
    left: 0
    font-size: 12px
    color: #EB4242

@import components/info
@import components/contacts

.privacy_container
    padding-top: 30rem
    h1
        padding-bottom: 30rem
        text-align: center
        font-size: 30px
        font-weight: 700
        text-transform: uppercase
    div, ul
        margin-bottom: 20rem

        
@import components/footer
