.wrapper-contact#contacts
    .contact-page.flex-between
        .social-contact.page-contact
            h2 наші соцмережі:
            p.flex.item-center.tktk
                a(href="https://www.tiktok.com/@streetwear_mbm" target="blank").flex.items-center 
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                        <g clip-path="url(#clip0_148_5295)">
                            <path d="M24.5 12.5C24.5 19.1274 19.1274 24.5 12.5 24.5C5.87258 24.5 0.5 19.1274 0.5 12.5C0.5 5.87258 5.87258 0.5 12.5 0.5C19.1274 0.5 24.5 5.87258 24.5 12.5Z" fill="#121212" stroke="black"/>
                            <path d="M9.125 17.5C9.25 17.625 9.375 17.75 9.5 17.875C9.875 18.25 10.375 18.375 10.875 18.375C12.125 18.5 13.25 17.5 13.375 16.25V16.125C13.375 12.375 13.375 8.625 13.375 4.875C13.375 4.625 13.375 4.625 13.625 4.625C14.25 4.625 14.75 4.625 15.375 4.625H15.5V4.75C15.75 5.75 16.25 6.5 17.125 7.125L17.25 7.25C17.25 7.25 17.375 7.25 17.375 7.375C17.5 7.5 17.625 7.625 17.75 7.625C18.25 8 18.75 8.25 19.25 8.375H19.375V8.5C19.375 9.125 19.375 9.875 19.375 10.5C19.375 10.625 19.375 10.625 19.25 10.625C18.75 10.625 18.25 10.5 17.875 10.5C17.125 10.375 16.375 10 15.625 9.5C15.625 9.5 15.5 9.375 15.5 9.5V9.625C15.5 11.5 15.5 13.375 15.5 15.25C15.5 16.5 15.125 17.75 14.25 18.75C13.375 19.75 12.25 20.375 10.875 20.625C9.875 20.75 8.75 20.625 7.875 20.125C7.75 20 7.625 20 7.375 19.875L7.25 19.75C6.875 19.5 6.75 19.125 6.5 18.75C6.125 18.25 6 17.625 5.875 17C5.875 16.625 5.75 16.25 5.75 15.875C5.875 14.625 6.25 13.625 7 12.75C7.625 12 8.5 11.5 9.375 11.125C9.75 11 10.125 10.875 10.625 10.875C10.75 10.875 10.75 10.875 10.875 10.875H11V11C11 11.625 11 12.375 11 13C11 13 11 13 11 13.125C11 13.25 11 13.25 10.875 13.25C10.75 13.25 10.5 13.125 10.375 13.125C10.125 13.125 9.75 13.125 9.5 13.25C8.625 13.625 8 14.25 7.875 15.25C7.75 16.25 8.125 17 8.875 17.5C9 17.375 9.125 17.5 9.125 17.5Z" fill="white"/>
                            <path d="M7.375 19.875C8 20.25 8.75 20.5 9.375 20.625C9.75 20.625 10.125 20.75 10.375 20.625C11.5 20.625 12.625 20.125 13.5 19.375C14.375 18.625 15 17.75 15.25 16.625C15.375 16.25 15.375 15.875 15.375 15.625C15.375 15.375 15.375 15.25 15.375 15C15.375 13.25 15.375 11.5 15.375 9.75V9.625H15.5C16.125 10 16.75 10.375 17.5 10.625C17.875 10.75 18.375 10.75 18.75 10.875C18.875 10.875 19.125 10.875 19.25 10.875C19.375 10.875 19.375 10.875 19.375 10.75C19.375 10.625 19.375 10.625 19.375 10.5C19.375 9.875 19.375 9.25 19.375 8.75V8.625C19.5 8.625 19.75 8.625 19.875 8.75C20 8.75 20.125 8.75 20.125 8.75C20.125 8.75 20.25 8.75 20.25 8.875C20.25 9.75 20.25 10.625 20.25 11.5C20.25 11.625 20.25 11.625 20.125 11.625C19.875 11.625 19.625 11.625 19.375 11.625C18.875 11.5 18.25 11.375 17.75 11.25C17.25 11 16.75 10.75 16.375 10.5C16.375 10.5 16.375 10.5 16.25 10.375V10.5C16.25 12.375 16.25 14.25 16.25 16.125C16.25 17.125 16 18.125 15.5 18.875C14.875 19.875 14 20.625 12.75 21C12 21.25 11.375 21.375 10.625 21.25C9.5 21.25 8.375 20.75 7.375 19.875Z" fill="#E31F25"/>
                            <path d="M15.625 4.75C15.5 4.75 15.5 4.75 15.625 4.75C14.875 4.75 14.25 4.75 13.625 4.75C13.5 4.75 13.5 4.75 13.5 4.875C13.5 8.625 13.5 12.375 13.5 16C13.5 16.25 13.5 16.5 13.375 16.75C13.125 17.625 12.5 18.25 11.625 18.375C10.625 18.625 9.875 18.25 9.25 17.5C9.375 17.625 9.625 17.625 9.875 17.625C10.5 17.75 11.125 17.625 11.625 17.375C12.25 17 12.625 16.375 12.75 15.75C12.75 15.625 12.75 15.5 12.75 15.375C12.75 11.625 12.75 7.875 12.75 4.25C12.75 4.125 12.75 4.125 12.875 4.125C13.75 4.125 14.625 4.125 15.5 4.125C15.625 4.125 15.625 4.125 15.625 4.25C15.5 4.25 15.5 4.5 15.625 4.75Z" fill="#0CBAC6"/>
                            <path d="M11 10.875C10.5 10.875 10 10.875 9.5 11.125C8.75 11.375 8.125 11.75 7.5 12.25C6.75 12.875 6.25 13.75 6 14.75C5.875 15.125 5.875 15.5 5.875 15.75C5.875 16 5.875 16.125 5.875 16.375C5.875 17 6 17.5 6.25 18.125C6.5 18.75 6.875 19.25 7.25 19.75C7.125 19.75 7.125 19.625 7 19.5C6.125 18.875 5.5 18 5.25 16.875C5.125 16.625 5 16.25 5 15.875C5 15.625 5 15.375 5 15C5 14.375 5.25 13.75 5.5 13.25C5.75 12.625 6.125 12.125 6.625 11.625C7.125 11.125 7.75 10.625 8.5 10.375C9 10.25 9.375 10.125 9.875 10.125C10.25 10.125 10.625 10.125 10.875 10.125C10.875 10.125 11 10.125 11 10.25C11 10.375 11 10.625 11 10.875Z" fill="#0CBAC6"/>
                            <path d="M9.12502 17.5C8.87502 17.375 8.75002 17.25 8.62502 17.125C8.25002 16.75 8.00002 16.25 7.87502 15.625C7.75002 14.375 8.50002 13.375 9.50002 13C10 12.875 10.375 12.875 10.875 13C10.875 13 10.875 13 11 13V12.875C11 12.25 11 11.5 11 10.875V10.75C11.25 10.75 11.5 10.75 11.75 10.75C11.75 11.625 11.75 12.5 11.75 13.5V13.625C11.625 13.625 11.5 13.625 11.375 13.5C10.625 13.375 10 13.625 9.50002 14C9.00002 14.375 8.75002 14.875 8.62502 15.5C8.62502 16.375 8.75002 16.875 9.12502 17.5Z" fill="#E31F25"/>
                            <path d="M17.375 7.375C17.125 7.25 16.875 7 16.625 6.75C16 6.125 15.75 5.5 15.5 4.75C15.75 4.75 16 4.75 16.25 4.75C16.25 5.375 16.5 6 16.75 6.625C17 6.875 17.125 7.125 17.375 7.375Z" fill="#E31F25"/>
                            <path d="M19.5 8.625C18.75 8.5 18.25 8.125 17.625 7.75C17.625 7.625 17.5 7.5 17.5 7.5C17.5 7.5 17.5 7.5 17.625 7.5C18 7.75 18.5 7.875 19 8C19.125 8 19.375 8 19.625 8C19.75 8 19.75 8 19.75 8.125C19.5 8.25 19.5 8.375 19.5 8.625Z" fill="#0CBAC6"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_148_5295">
                            <rect width="25" height="25" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                    span streetwear_mbm
            p.flex.item-center.fb
                a(href="https://www.facebook.com/mbm.khm" target="blank").flex.items-center 
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                        <g clip-path="url(#clip0_148_5309)">
                            <path d="M12.5 0C5.625 0 0 5.625 0 12.5C0 18.75 4.625 23.875 10.5 24.875V16.125H7.375V12.5H10.5V9.75C10.5 6.625 12.375 4.875 15.25 4.875C16.625 4.875 18 5.125 18 5.125V8.25H16.375C14.875 8.25 14.375 9.25 14.375 10.25V12.5H17.875L17.375 16.125H14.5V24.875C20.375 23.875 25 18.75 25 12.5C25 5.625 19.375 0 12.5 0Z" fill="#1677F0"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_148_5309">
                            <rect width="25" height="25" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                    span mbm.khm
            p.flex.item-center.inst
                a(href="").flex.items-center
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                        <g clip-path="url(#clip0_148_5313)">
                            <path d="M12.5 23.375C18.5751 23.375 23.5 18.4501 23.5 12.375C23.5 6.29987 18.5751 1.375 12.5 1.375C6.42487 1.375 1.5 6.29987 1.5 12.375C1.5 18.4501 6.42487 23.375 12.5 23.375Z" fill="white"/>
                            <path d="M12.5 25C5.625 25 0 19.375 0 12.5C0 5.625 5.625 0 12.5 0C19.375 0 25 5.625 25 12.5C25 19.375 19.375 25 12.5 25ZM16.75 7.375C16.25 7.375 15.875 7.75 15.875 8.25C15.875 8.75 16.25 9.125 16.75 9.125C17.25 9.125 17.625 8.75 17.625 8.25C17.625 7.75 17.25 7.375 16.75 7.375ZM12.625 8.625C10.5 8.625 8.75 10.375 8.75 12.5C8.75 14.625 10.5 16.375 12.625 16.375C14.75 16.375 16.5 14.625 16.5 12.5C16.5 10.375 14.75 8.625 12.625 8.625ZM12.625 15C11.25 15 10.125 13.875 10.125 12.5C10.125 11.125 11.25 10 12.625 10C14 10 15.125 11.125 15.125 12.5C15.125 13.875 14 15 12.625 15ZM20.5 9.25C20.5 6.625 18.375 4.5 15.75 4.5H9.5C6.875 4.5 4.75 6.625 4.75 9.25V15.5C4.75 18.125 6.875 20.25 9.5 20.25H15.75C18.375 20.25 20.5 18.125 20.5 15.5V9.25ZM19 15.5C19 17.25 17.5 18.75 15.75 18.75H9.5C7.625 18.75 6.25 17.375 6.25 15.5V9.25C6.25 7.5 7.625 6 9.5 6H15.75C17.5 6 19 7.5 19 9.25V15.5Z" fill="url(#paint0_linear_148_5313)"/>
                        </g>
                        <defs>
                            <linearGradient id="paint0_linear_148_5313" x1="2.4" y1="21.1" x2="33.4122" y2="-5.3065" gradientUnits="userSpaceOnUse">
                            <stop offset="0.0011048" stop-color="#FFE185"/>
                            <stop offset="0.2094" stop-color="#FFBB36"/>
                            <stop offset="0.3765" stop-color="#FF5176"/>
                            <stop offset="0.5238" stop-color="#F63395"/>
                            <stop offset="0.7394" stop-color="#A436D2"/>
                            <stop offset="1" stop-color="#5F4EED"/>
                            </linearGradient>
                            <clipPath id="clip0_148_5313">
                            <rect width="25" height="25" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                    span mbm_khm
        .contact.page-contact
            h2 Наші контакти
            p.flex.item-center
                a(href="tel:+3800676881050").flex.item-center 
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                        <path d="M11.5 10.6012C9.50415 12.7018 4.41318 7.65653 6.41662 5.54795C7.63985 4.26052 6.25803 2.78923 5.49317 1.70778C4.0577 -0.321854 0.906427 2.48034 1.00213 4.26287C1.30394 9.88404 7.38462 16.5455 13.2729 15.9645C15.115 15.7827 17.2315 12.456 15.1186 11.2402C14.0621 10.6322 12.6118 9.43099 11.5 10.6012Z" stroke="#121212" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    span 067 688 10 50
            p
                a(href="mailto:tanamakcik74@gmail.com").flex.item-center
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14" fill="none">
                        <path d="M16.363 3.28125L12.6117 7.20905C11.1839 8.54826 10.47 9.21787 9.62562 9.21787C8.78124 9.21787 8.06733 8.54826 6.63953 7.20905L2.88818 3.28125" stroke="#121212" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <rect x="0.5" y="0.5" width="18.25" height="13" rx="1.5" stroke="#121212"/>
                    </svg>
                    span tanamakcik74@gmail.com

    .form-contactPage 
        form(action="senddata.php" method="post") 
            h2 зворотній звʼязок:
            p Залишіть свої дані для звʼязку з нами.
            p 
                label(for='name') Імʼя*
                input#name(type='text' name='userName' minlength='3' maxlength='30' required='' oninput="this.value = this.value.replace(/[^a-zA-Zа-яА-ЯїЇєЄіІґҐs]/g, '')")
                span.error-name
            p 
                label(for="userPhone") Телефон*
                input.phoneInput.inputMask(type='tel' name='userPhone' required='' maxlength='13')
                span.error-tel
            p
                label(for="textarea") Повідомлення*
                textarea#textarea(name="textarea")
                input(type="hidden" id="orderWebsiteURL1" name="orderWebsiteURL")
            .wrapper.tac_form_btn  
                button(type="submit").submit-btn відправити