header 
    
    .wrapper.flex-between.items-center.header
        .logo 
            a(href="index.html").flex-between.items-center
                picture 
                    img(src="img/logo.svg", alt="")
                span
                    | Власне
                    span виробництво одягу
        
        nav.nav 
            ul.menu.items-center
                li.cancel_li
                    a.cancel(href="#")
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M1 15L14.7071 1M15 15L1.29291 1" stroke="#121212" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                li 
                    a(href="#catalog") каталог
                li 
                    a(href="#spivpracia_container" data-target="spivpracia") співпраця
                li 
                    a(href="#delivery_container" data-target="delivery") оплата та доставка
                li 
                    a(href="#obmin_container" data-target="obmin") повернення та обмін
                li 
                    a(href="#contacts") контакти
                li.mobile_contacts 
                    a(href="tel:+3800676881050").items-center
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                            <path d="M12 11.1012C10.0042 13.2018 4.91318 8.15653 6.91662 6.04795C8.13985 4.76052 6.75803 3.28923 5.99317 2.20778C4.5577 0.178146 1.40643 2.98034 1.50213 4.76287C1.80394 10.384 7.88462 17.0455 13.7729 16.4645C15.615 16.2827 17.7315 12.956 15.6186 11.7402C14.5621 11.1322 13.1118 9.93099 12 11.1012Z" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        | 067 688 10 50
        
        .header_contacts.flex-between.items-center
            .burger 
                span.bord.b1
                span.bord.b2
                span.bord.b3
            a(href="tel:+3800676881050").flex-between.items-center.desctop_contacts
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                    <path d="M12 11.1012C10.0042 13.2018 4.91318 8.15653 6.91662 6.04795C8.13985 4.76052 6.75803 3.28923 5.99317 2.20778C4.5577 0.178146 1.40643 2.98034 1.50213 4.76287C1.80394 10.384 7.88462 17.0455 13.7729 16.4645C15.615 16.2827 17.7315 12.956 15.6186 11.7402C14.5621 11.1322 13.1118 9.93099 12 11.1012Z" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                | 067 688 10 50
            a(href="#").cart 
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="22" viewBox="0 0 19 22" fill="none">
                    <path d="M5.99745 5.44444H4.66909C3.44405 5.44444 2.42728 6.34544 2.33999 7.50834L1.50605 18.6195C1.40951 19.9058 2.48004 21 3.83515 21H15.1648C16.52 21 17.5905 19.9058 17.4939 18.6195L16.66 7.50834C16.5727 6.34544 15.556 5.44444 14.3309 5.44444H13.0025M5.99745 5.44444V3.22222C5.99745 1.99492 7.04288 1 8.33248 1H10.6675C11.9571 1 13.0025 1.99492 13.0025 3.22222V5.44444M5.99745 5.44444H13.0025" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg> 
        