.description-info 
    .info-item#delivery_container
        a.readmore(href="#").flex-between.items-center
            span умови доставки та оплати 
            span.svg_btn 
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                    <path d="M1 1L6 6L11 1" stroke="white" stroke-linecap="round"/>
                </svg>
        .description-more#delivery
            div
                p.head_info Інтернет-магазин «MBM» здійснює доставку товарів по всій території України.
                ul.mark
                    li Термін доставки 1-3 днів з моменту підтвердження замовлення;
                    li Працюємо з «Новою поштою» та «Укрпоштою».
            div.post-icon
                picture 
                    img(src="img/np.png", alt="")
            div
                p.head_info Безкоштовно при вартості замовлення від 2499 ₴. Умови безкоштовної доставки по Україні:
                ul.mark
                    li 100% передоплата;
                    li Замовлення на суму від 2499 ₴;
                    li Доставка здійснюється з відділення пошти у відділення пошти;
                    li Доставка в одному напрямку.
                p У разі обміну товару належної якості, доставка-повернення здійснюється за рахунок покупця.
            div.post-icon
                div 
                    picture 
                        img(src="img/up.png", alt="")
            div
                p.head_info Безкоштовно при вартості замовлення від 2499 ₴. Умови безкоштовної доставки по Україні:
                ul.mark
                    li 100% передоплата;
                    li Замовлення на суму від 2499 ₴;
                    li Доставка здійснюється з відділення пошти у відділення пошти;
                    li Доставка в одному напрямку.
                p У разі обміну товару належної якості, доставка-повернення здійснюється за рахунок покупця.
            div
                p.head_info Міжнародна доставка.
                ul.mark
                    li Ми доставляємо замовлення по всьому світу.
                    li Відправку здійснюємо Новою Поштою.
                    li Термін доставки – 14-21 день, проте, у зв’язку з військовим станом в Україні, час доставки може відрізнятися.
            p.head_info Вартість доставки визначається за тарифами компанії-відправника.
    .info-item#obmin_container
        a.readmore.flex-between.items-center(href="#") 
            span Повернення та обмін
            span.svg_btn 
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                    <path d="M1 1L6 6L11 1" stroke="white" stroke-linecap="round"/>
                </svg>
        .description-more#obmin
            div
                p.head_info Повернення здійснюється через служби доставки «Нова Пошта» протягом 2 днів після покупки.
                p Після отримання товару наші менеджери оглядають його на предмет носіння або інших пошкоджень і повертають зворотні кошти на картку.
            div
                p.head_info Товар повинен мати продажний вигляд: 
                ul.mark
                    li Максимально охайний.
                    li Не мати слідів носіння та інших ушкоджень.
                    li Обов’язкова наявність усіх бірок.
            div
                p.head_info Обмін можна здійснити протягом 2 днів. 
    .info-item#spivpracia_container
        a.readmore.flex-between.items-center(href="#") 
            span Умови співпраці
            span.svg_btn 
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                    <path d="M1 1L6 6L11 1" stroke="white" stroke-linecap="round"/>
                </svg>
        .description-more#spivpracia
            div
                p.head_info Почати співпрацювати з нами - легко! 
                p Ми пропонуємо якісний готовий одяг для вашого бізнесу за вигідними умовами. Незалежно від масштабу вашої діяльності — роздріб, опт чи онлайн-продажі — ми готові стати вашим надійним партнером.
            div
                p.head_info Етапи співпраці:
                ul.mark
                    li Ознайомтесь із нашим каталогом готового одягу на сайті.
                    li Зв’яжіться з нашим менеджером для уточнення деталей замовлення.
                    li Оформіть заявку та отримайте своє замовлення у зручний для вас термін.
            div
                p.head_info Умови співпраці:
                ul.mark
                    li Мінімальне замовлення - 1 ростовка.
                    li Повна передоплата або часткова оплата за домовленістю.
                    li Доставка по Україні або закордон.
            p.head_info Заповніть форму на сайті або зв'яжіться з нами за контактами, вказаними нижче. Наші менеджери проконсультують вас та допоможуть зробити перший крок до реалізації вашої ідеї.